*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(img/fundinmg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(246, 236, 236);
}
#form{
    text-align: center;
    margin: auto;
}



h1{
    margin: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-bottom: 20px;
}

.stage{
    text-align: center;
    
}
.square{

    height: 100px;
    width: 100px;
    background-color:grey;
    border: 1px solid gray;
    display: inline-block;

}
.freddy {
    position: relative;
}

.freddy::after{

    content: url(img/freddy-krueger.png);
    position: absolute;
    cursor: not-allowed;
    top: 15px;
    bottom: 0;
    right: 0;
    left: 0;
}

.jason{
    position: relative;
}

.jason:after{

    content: url(img/mascara-de-hoquei.png);
    position: absolute;
    cursor: not-allowed;
    top: 15px;
    bottom: 0;
    right: 0;
    left: 0;
}

.winning_message{

    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(33, 2, 58, 0.5);
    flex-direction: column;


}

.winning_message button{

    font-size: 2.5rem;
    background-color: rgba(230, 23, 23, 0.3);
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 16px;
    color: white;

   

}

.winning_message button:hover{

    color: rgba(230, 23, 23, 0.3);
    background-color: white;
}

.winning_message p{

    color: white;
    font-size: 5rem;
}

.show_winning_menssage{
    display: flex;
}



